/*
=================================================================
Home Page
=================================================================
*/


body, html {
	background-color: #808080;
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}


h1, h2, h3, h4, h5, h6, p {
	color: #303030;
	font-family: 'Prociono';
}

/*=========================================
Navbar
==========================================*/

.navbar {
	border-radius: 0;
}

#myNavbar {
	font-family: 'Prociono';
}

.navbar-brand {
	color: white !important;
	font-size: 3.2em;
	font-family: 'Prociono', cursive;
}

/*=========================================
Carousel
==========================================*/
#mBoard {
	width: 1200px;
	height: 400px;
	margin: 0 auto;

}

#hdd {
	width: 400px;
	height: 400px;
	display: block;
	margin: auto;
}

#computer {
	width: 500px;
	height: 400px;
	display: block;
	margin: auto;
}

#books {
	width: 500px;
	height: 400px;
}

.carousel-caption h3{
	color: white;
	text-shadow: 3px 3px 2px black;
}

.carousel-caption p {
	color: white;
	text-shadow: 2px, 2px, 2px, black;
}

/*=========================================
columns
==========================================*/

.row {
	padding-top: 10px;
	height: 300px;
}
.row h3 {
	text-align: center;
}

.row p {
	text-align: center;
}

#leftList {
	display: inline-block;
	color: #303030;
}

#rightList {
	display: inline-block;
	color: #303030;
}

.col-md-4 {
	padding-bottom: 20px;
	padding-top: 40px;
}

.leftCol img {
	display: block;
	width: 80px;
	margin: auto;
}

.middleCol img {
	display: block;
	width: 80px;
	margin: auto;
}

.rightCol img {
	display: block;
	width: 80px;
	margin: auto;
}

/*
============================================================
About Us
============================================================
*/

#bios {
	margin-top: 50px;
}

#bios p {
	display: none;
}

#sr {
	height: 100px;
	width: 80%;
	padding-bottom: 150px;
	margin: 0 auto;
}

#sr p {
	background-color: #787878;
	height: 60px;
	padding: 10px;
	border-radius: 20px;
}

#chuck {
	height: 100px;
	width: 80%;
	padding-bottom: 150px;
	margin: 0 auto;
}

#chuck p {
	background-color: #787878;
	height: 60px;
	padding: 10px;
	border-radius: 20px;
}

#anderson {
	height: 100px;
	width: 80%;
	padding-bottom: 120px;
	margin: 0 auto;
}

#anderson p {
	background-color: #787878;
	height: 60px;
	padding: 10px;
	border-radius: 20px;
}

/*
============================================================
Contact Us
============================================================
*/

.call {
	width: 140px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
}

.call img {
	width: 50px;
	padding: 0;
	display: block;
	margin: 0 auto;
	padding-top: 25px;
}

#icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	margin: 0 auto;
}

.call h1 {
	font-size: 3em;
}

.location {
	width: 350px;
	margin: 0 auto;
	padding-top: 60px;
}

.location img {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.location h1 {
	font-size: 3em;
	text-align: center;
}

.location h4 {
	text-indent: 85px;
}

#indent {
	text-indent: 85px;
}

/*========================================
Footer
==========================================*/

.footer {
	height: 170px;
	width: 100%;
	background-color: black;
	color: white;
	position: relative;
}

.footer p {
	color: white;
	text-align: center;
}

.footerAbout {
	height: 220px;
	width: 100%;
	background-color: black;
	color: white;
	position: relative;
	margin-top: 35px;
}

.footerAbout p {
	color: white;
	text-align: center;
}

.footerContact {
	height: 220px;
	width: 100%;
	background-color: black;
	color: white;
	position: relative;
}

.footerContact p {
	color: white;
	text-align: center;
}

#index {
	text-align: center;
	padding-top: 15px;
}

#index li {
	display: inline;	
	text-decoration: none;
	list-style-type: none;
	padding: 5px;
	font-size: 1.2em;
}

.footer a:link {
	color: white;
}

.footer a:visited {
	color: white;
}

.footer a:hover {
	color: white;
}

.footerAbout a:link {
	color: white;
}

.footerAbout a:visited {
	color: white;
}

.footerAbout a:hover {
	color: white;
}

.footerAbout a:active {
	color: white;
}

.footerContact a:link {
	color: white;
}

.footerContact a:visited {
	color: white;
}

.footerContact a:hover {
	color: white;
}

.footerContact a:active {
	color: white;
}

#facebook img {
	width: 50px;
	height: auto;
	color: white;
	padding: 5px;
}

#facebook {
	text-align: center;
}

/*
============================================================
Media Query
============================================================
*/

@media screen and (max-width: 991px) {
	.leftCol, .middleCol {
		border-bottom: 2px groove white;
	}

	.middleCol, .rightCol {
		padding-top: 10px;
	}

	.location {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#bios p {
		height: 100px;
	}

	#chuck p {
		height: 140px;
	}

	#sr {
		padding-bottom: 220px;
	}

	#chuck {
		padding-bottom: 220px;
	}

	#anderson {
		padding-bottom: 150px;
	}

	.footer {
		bottom: -450px;
		height: 170px;
	}

	.footerContact {
		height: 220px;
		width: 100%;
		background-color: black;
		color: white;
		position: relative;
	}

	.footerContact p {
	color: white;
	text-align: center;
	}

	.footerContact a:visited {
	color: white;
	}

	.footerContact a:hover {
	color: white;
	}

	.footerAbout {
		height: 220px;
		width: 100%;
		background-color: black;
		color: white;
		position: relative;
	}

	.footerAbout p {
	color: white;
	text-align: center;
	}

	.footerAbout a:link {
		color: white;
	}

	.footerAbout a:visited {
	color: white;
	}

	.footerAbout a:hover {
	color: white;
	}

	.footerAbout a:link {
	color: white;
	}
}

